@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply selection:bg-blue-500/90 selection:text-white;
}

a {
  @apply text-blue-500 underline;
}

body {
  @apply h-screen w-screen !overflow-x-hidden scroll-smooth;
}

#app-root {
  @apply h-full w-full;
}

/* --- Sroll bar --- */
/* Width */
::-webkit-scrollbar {
  width: 0.35rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777777;
}
